[submodule "vim-qml"]
	path = vim-qml
	url = git@github.com:peterhoeg/vim-qml.git
[submodule "vim-sensible"]
	path = vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim-surround"]
	path = vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = git://github.com/tpope/vim-repeat.git
