[submodule "vim-qml"]
	path = vim-qml
	url = git@github.com:peterhoeg/vim-qml.git
[submodule "vim-sensible"]
	path = vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim-surround"]
	path = vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim-liquid"]
	path = vim-liquid
	url = git://github.com/tpope/vim-liquid.git
[submodule "vim-commentary"]
	path = vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "neocomplete.vim"]
	path = neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim-clang"]
	path = vim-clang
	url = https://github.com/justmao945/vim-clang.git
